<app-header></app-header>

<div class="contain">

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Mis tareas</h1>
            <p><strong>Sui</strong> te permite tener una lista completa de tus tareas:</p>

            <form class="task-form" [formGroup]="form">
                <mat-form-field class="task-full-width">
                    <mat-label>Tarea</mat-label>
                    <input matInput formControlName="name_task" placeholder="¿Que tengo que hacer?">
                </mat-form-field>

                <mat-form-field class="task-full-width">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput formControlName="description_task" placeholder="Descripción puede ser opcional..."></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="addtask()">agregar</button>
                </div>

            </form>
        </div>

        <div class="col-xs-12 col-md-6">
            <h1>lista de tareas</h1>
            <div class="row" *ngFor="let mytasks of allTask; let i=index;">
                <div class="col-xs-12">
                    {{ mytasks.name_task }}: {{ mytasks.description_task }}
                    <button mat-icon-button color="accent" (click)="deletetask(i,mytasks.id_task)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>
<app-footer></app-footer>