<app-header></app-header>

<div class="contain">

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Mis tareas</h1>
            <p><strong>Sui</strong> te permite tener una lista completa de tus tareas:</p>

            <form class="task-form">
                <mat-form-field class="task-full-width">
                    <mat-label>Tarea</mat-label>
                    <input matInput placeholder="¿Que tengo que hacer?" [(ngModel)]="newTask" name="newTask">
                </mat-form-field>

                <mat-form-field class="task-full-width">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput placeholder="Descripción puede ser opcional..." [(ngModel)]="descriptionTask" name="descriptionTask"></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" (click)="addtask()">agregar</button>
                </div>

            </form>
        </div>

        <div class="col-xs-12 col-md-6">
            <h1>lista de tareas</h1>
            <ul *ngFor="let mytasks of allTask; let i=index;">
                <li>
                    {{ mytasks.nametask }}
                    <button mat-icon-button color="accent" (click)="deletetask(i)">
                    <mat-icon>clear</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>



</div>
<app-footer></app-footer>