<div class="center">
    <h1>Bienvenido a Sui</h1>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="nombre usuario o email">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="nombre usuario o email" type="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">ingresar</button>
    </form>

</div>