<div class="footer">
    <div class="row frami">
        <div class="col-xs-12 col-sm-4 linkeds">
            <h2>SUI</h2>
            <a href="#">contact</a><br>
            <a href="#">about us!</a><br>
            <a href="#">demo</a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa hic animi porro dolore molestiae aliquid earum! Harum incidunt quod deserunt. Quos dolorum, necessitatibus dolores ut odit nulla numquam et aut! </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eius natus dolores expedita autem doloribus eum iusto odit sunt veniam saepe corporis, ad sapiente minus porro suscipit eos dolor magnam?
        </div>
    </div>
</div>