<form [formGroup]="form" (ngSubmit)="saveUser($event)">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Nuevo usuario</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Nombres</mat-label>
                <input formControlName="name" matInput type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Apellidos</mat-label>
                <input formControlName="last_name" matInput type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input formControlName="address" matInput type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input formControlName="phone" matInput type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Genero</mat-label>
                <input formControlName="gender" matInput type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Rol de usuario</mat-label>
                <input formControlName="user_role" matInput type="text">
            </mat-form-field>
            <br>
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Fec. nacimiento</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="born_date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">crear usuario</button>
        </mat-card-actions>
    </mat-card>

</form>